{% extends 'adminshome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Variant{% endblock %}

{% block content %}
<style>
  .table-image {
    max-width: 100%; /* Set maximum width to ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
  }

  .image_field {
    margin-bottom: 15px; /* Add margin for spacing */
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Variant</h4>
          <form method="post" id="image-form" enctype="multipart/form-data" action="{% url 'adminproductmanagement:edit_variant' pk=variant.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <label for="image_field" class="my-3">Images*</label>
            <br>
            <input type="file" name="images" accept="image/*" multiple class="image_field mb-5">
            <br>
            <button type="submit" class="btn btn-success rounded">Update</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
      <div class="variant-images">
        {% if images %}
        <h2>Current Images</h2>
        <div class="row">
          
            {% for image in images %}
            <div class="col-6 col-md-4 mb-4">
              <img src="{{ image.image.url }}" alt="Variant Image" class="table-image">
              <form method="post" action="{% url 'adminproductmanagement:delete_variant_image' pk=image.pk %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
            {% endfor %}
        </div>
      </div>
      {% else %}
          No images
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
