{% extends 'usershome/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="contact-us-area mt-5">
    <div class="container">
        <div class="section-title-4 text-center mb-50">
            <h2>Our Outlet Address! Please Visit Us.</h2>
            <div class="contact-us-info-wrap mb-30 mt-5"> <!-- Added text-center class -->
                <h3>Kinfra</h3>
                <div class="contact-us-info">
                    <p>3rd Floor, Kinfra, Kakkanchery, Calicut, Kerala, India</p>
                    <span>Email: contact@bestview.com</span>
                </div>
                <div class="contact-us-info">
                    <p>Assistance hours: Monday - Friday</p>
                    <span>9 am to 8 pm </span>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="map mb-5 mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d340390.42186378386!2d75.89334973674046!3d11.151968435327495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTHCsDUxJzU5LjMiTiA3NS44MyIzNS4zIlc!5e0!3m2!1sen!2sin!4v1648204965912" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

{% endblock %}