{% extends 'usershome/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="login-register-area pb-90 pt-89">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                            <h4> Forgot Password </h4>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="text" name="email" placeholder="Email">
                                        <div class="button-box btn-hover">
                                            <button type="submit">Send OTP</button>
                                        </div>                                     
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}